@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: #22254b;
}

ul {
	list-style-type: none;
}

img {
	max-width: 100%;
}

.container {
	width: 95vw;
	margin: 0 auto;
}

.btn {
	padding: 0.75rem 1rem;
	border: none;
	border-radius: 5px;
	color: #fff;
	background-color: #e26d5c;
	cursor: pointer;
	font-family: inherit;
}
